= form_for @book_keep_category do |f|
  - if @book_keep_category.errors.any?
    #error_explanation
      %h2= "Kategoria rekordu nie może zostać zapisana z powodu następujących błędów:"
      %ul
        - @book_keep_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Zapisz'
