= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= "Nie można zapisać członkostwa z powodu następujących błędów:"
      %ul
        - @membership.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :member
    = f.collection_select :member_id, Member.all, :id, :email, prompt: true
  .field
    = f.label :roles
    - Role.all.each do |role|
      = f.check_box :role_ids, { multiple: true }, role.id, nil
      = f.label role.name
  .field
    = f.label :period
    = f.collection_select :period_id, Period.all, :id, :academic_year, prompt: true
  .field
    = f.fields_for :comment do |comment|
      = comment.label :comment
      = comment.text_field :text
  .field
    = f.label :fee_paid
    = f.check_box :fee_paid
  .field
    = f.label :tshirt
    = f.check_box :tshirt
  .actions
    = f.submit 'Save'
