.row
  .col.s12
    = form_with model: @membership, class: "col s12" do |form|
      - if @membership.errors.any?
        #error_explanation
          %h4
            =pluralize @membership.errors.count, "error"
            prohibited this membership from being saved:
          %ul
            - @membership.errors.full_messages.each do |msg|
              %li
                = msg
      .row
        .input-field.col.s12
          = form.collection_select :role_ids, Role.all, :id, :name, {}, multiple: true
          = form.label :role
      .row
        .input-field.col.s12
          = form.collection_select :period_id, Period.all, :id, :academic_year, selected: PeriodsFacade.current.id
          = form.label :period
      .row
        %label
          .input-field.col.s12
            = form.check_box(:fee_paid)
            %span Fee
      .row
        .col.s2
          = form.submit class: "btn waves-light"
