%main
  .container
    .row
      .col.s12
        %h1 Membership list

        %table.striped
          %thead
            %tr
              %th Name
              %th Surname
              %th.hide-on-small-only Role
              %th Period
              %th Fee paid?
              %th Tshirt?
              %th.hide-on-small-only Who signed up?
              %th
              %th
              %th
          %tbody
            - @memberships.each do |membership|
              %tr.clickable-row{ data: { href: "#{url_for membership}" } }
                %td
                  = membership.member.name
                %td
                  = membership.member.surname
                %td
                  - for role in membership.roles.sort_by { |role| role.name.downcase }
                    = role.name + ' '
                %td
                  = membership.period.academic_year
                %td
                  = format_true_false membership.fee_paid
                %td
                  = format_true_false membership.tshirt
                %td
                  = membership.registrar.email
                %td
                  = link_to membership, class: "btn waves-effect waves-light hide-on-small-only" do
                    %i.material-icons pageview
                %td
                  = link_to edit_membership_path(membership), class: "btn waves-effect waves-ligth" do
                    %i.material-icons edit
                %td
                  = link_to membership, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-light hide-on-small-only" do
                    %i.material-icons delete_forever

