%h1 Lista członkostw

%table
  %thead
    %tr
      %th Imię
      %th Nazwisko
      %th Rola
      %th Składka opłacona?
      %th Koszulka odebrana?
      %th
      %th
      %th

  %tbody
    - @memberships.each do |membership|
      %tr
        %td= membership.member.name
        %td= membership.member.surname
        %td= membership.member.role
        %td= format_true_false membership.fee_paid
        %td= format_true_false membership.tshirt
        %td= link_to 'Pokaż', membership
        %td= link_to 'Edytuj', edit_membership_path(membership)
        %td= link_to 'Usuń', membership, :method => :delete, :data => { :confirm => 'Na pewno?' }

%br

= link_to 'Nowe członkostwo', new_membership_path
