%h1 Lista członkostw

%table
  %thead
    %tr
      %th Imię
      %th Nazwisko
      %th Rola
      %th Okres
      %th Składka opłacona?
      %th Koszulka odebrana?
      %th
      %th
      %th

  %tbody
    - @memberships.each do |membership|
      %tr
        %td= membership.member.name
        %td= membership.member.surname
        %td
          - for role in membership.member.roles.sort_by { |role| role.name.downcase }
            = role.name + ' '
        %td= membership.period.concat_year_and_info
        %td= format_true_false membership.fee_paid
        %td= format_true_false membership.tshirt
        %td= link_to 'Pokaż', membership
        %td= link_to 'Edytuj', edit_membership_path(membership)
        %td= link_to 'Usuń', membership, :method => :delete, :data => { :confirm => 'Na pewno?' }

%br

= link_to 'Nowe członkostwo', new_membership_path
