%p
  %b Członek:
  = @membership.member.full_name
%p
  %b Okres:
  = @membership.period.academic_year
%p
  %b Składka opłacona:
  = format_true_false @membership.fee_paid
%p
  %b T-shirt wydany:
  = format_true_false @membership.tshirt

= link_to 'Edytuj', edit_membership_path(@membership), { class: 'btn btn-default' }
= link_to 'Wstecz', memberships_path, { class: 'btn btn-default' }
