%main
  .container
    .row
      .col.s12
        = render partial: 'members/card', locals: {member: @membership.member}        
    .row
      .col.s12
        %span
          = @membership.period.academic_year
        %span
          = @membership.roles.join(" ")
        %span
          = @membership.fee_paid
        %span
          = @membership.registrar.email

