%main
  .container
    .row
      .col.s12
        = form_with url: sessions_path do |form|
          .row
            .input-field.col.s12
              = form.email_field :email
              = form.label :email
            .input-field.col.s12
              = form.password_field :password
              = form.label :password
          .row
            .col.s2
              = form.submit "Login", class: "btn waves-light"
