%h1 Witaj w systemie Elektronicznej Rejestracji Członków!

= form_tag sessions_path, method: :post do
  = field_set_tag do
    .form-group
      = label_tag :email, 'Email:'
      = email_field_tag :email, nil, required: true, class: 'form-control'
    .form-group
      = label_tag :password, 'Hasło:'
      = password_field_tag :password, nil, required: true, class: 'form-control'
    = submit_tag 'Zaloguj', class: 'btn btn-default'