= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "Komentarz nie mógł być zapisany z następujących powodów:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :text
    = f.text_field :text
  .actions
    = f.submit 'Zapisz'
