= link_to 'Nowy komentarz', new_comment_path
%br

%h1 Komentarze


%table
  %thead
    %tr
      %th Text
      %th
      %th
      %th

  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.text
        %td= link_to 'Pokaż', comment
        %td= link_to 'Edytuj', edit_comment_path(comment)
        %td= link_to 'Usuń', comment, :method => :delete, :data => { :confirm => 'Jesteś pewien?' }
%br

