= form_for @period do |f|
  - if @period.errors.any?
    #error_explanation
      %h2= "Nie można zapisać okresu z powodu następujących błędów:"
      %ul
        - @period.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :academic_year, 'Rok akademicki (w formacie xxxx/xxxx)'
    = f.text_field :academic_year
  .field
    = f.label :info, 'Dodatkowe informacje'
    = f.text_field :info
  .field
    = f.label :fee, 'Składka'
    = f.text_field :fee
  .actions
    = f.submit 'Zapisz'
