= form_with model: @period, class: "col s12" do |form|
  - if @period.errors.any?
    #error_explanation
      %h4
        = pluralize @period.errors.count, "error"
        prohibited this period from being saved:
      %ul
        - @period.errors.full_messages.each do |msg|
          %li
            = msg
  .row
    .input-field.col.s12
      = form.date_field :begin
      = form.label :begin
    .input-field.col.s12
      = form.date_field :end
      = form.label :end
    .input-field.col.s12
      = form.text_field :info
      = form.label :info
    .input-field.col.s12
      = form.number_field :fee
      = form.label :fee
  .row
    .col.s2
      = form.submit class: "btn waves-light"

