%h1 Lista okresów członkostwa

%table.table.table-striped
  %thead
    %tr
      %th Rok akademicki
      %th Składka
      %th Informacje dodatkowe
      %th
      %th
      %th

  %tbody
    - @periods.each do |period|
      %tr
        %td= period.academic_year
        %td= period.fee
        %td= period.info
        %td= link_to 'Pokaż', period, class: "btn btn-default"
        %td= link_to 'Edytuj', edit_period_path(period), class: "btn btn-default"
        %td= link_to 'Usuń', period, :method => :delete, :data => { :confirm => 'Na pewno?' }, class: "btn btn-default"

%br

= link_to 'Nowy okres', new_period_path, class: "btn btn-default pull-right"
