%main
  .container
    .row
      .col.s12
        %h2 Periods

        %table.striped.responsive-table
          %thead
            %tr
              %th Begin
              %th End
              %th Fee
              %th Info
              %th
              %th
              %th
          %tbody
            - @periods.each do |period|
              %tr
                %td= period.begin
                %td= period.end
                %td= period.fee
                %td= period.info
                %td= link_to 'View', period, class: "btn waves-effect waves-light"
                %td= link_to 'Edit', edit_period_path(period), class: "btn waves-effect waves-light"
                %td= link_to 'Delete', period, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn waves-effect waves-light"

