%h1 Lista okresów członkostwa

%table
  %thead
    %tr
      %th Od
      %th Do
      %th Składka
      %th
      %th
      %th

  %tbody
    - @periods.each do |period|
      %tr
        %td= period.from
        %td= period.to
        %td= period.fee
        %td= link_to 'Pokaż', period
        %td= link_to 'Edytuj', edit_period_path(period)
        %td= link_to 'Usuń', period, :method => :delete, :data => { :confirm => 'Na pewno?' }

%br

= link_to 'Nowy okres', new_period_path
