%p
  %b Rok akademicki:
  = @period.academic_year
%p
  %b Składka:
  = number_to_currency(@period.fee, unit: 'zł', format: '%n %u')
%p
  %b Informacje dodatkowe:
  = @period.info

= link_to 'Edytuj', edit_period_path(@period), class: 'btn btn-default'
= link_to 'Wstecz', periods_path, class: 'btn btn-default'
