%p#notice= notice

%p
  %b Rok akademicki:
  = @period.academic_year
%p
  %b Składka:
  = number_to_currency(@period.fee)
%p
  %b Informacje dodatkowe:
  = @period.info

= link_to 'Edytuj', edit_period_path(@period)
\|
= link_to 'Wstecz', periods_path
