%p#notice= notice

%p
  %b Od:
  = @period.from
%p
  %b Do:
  = @period.to
%p
  %b Składka:
  = number_to_currency(@period.fee)

= link_to 'Edytuj', edit_period_path(@period)
\|
= link_to 'Wstecz', periods_path
