= form_for @book_keep_record do |f|
  - if @book_keep_record.errors.any?
    #error_explanation
      %h2= "#Rekord nie mógł zostać zapisany z pwoodu następujących błędów:"
      %ul
        - @book_keep_record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :BookKeepCategory
    = f.collection_select :book_keep_category_id, BookKeepCategory.all, :id, :name, { prompt: true }, { class: 'form-control' }
  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :value
    = f.number_field :value
  .actions
    = f.submit 'Zapisz'
