%h1 Listing book_keep_records

%table
  %thead
    %tr
      %th Name
      %th Bookkeepcategory
      %th Date
      %th Value
      %th User
      %th
      %th
      %th

  %tbody
    - @book_keep_records.each do |book_keep_record|
      %tr
        %td= book_keep_record.name
        %td= book_keep_record.BookKeepCategory
        %td= book_keep_record.date
        %td= book_keep_record.value
        %td= book_keep_record.User
        %td= link_to 'Show', book_keep_record
        %td= link_to 'Edit', edit_book_keep_record_path(book_keep_record)
        %td= link_to 'Destroy', book_keep_record, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book keep record', new_book_keep_record_path
