%p
  %b Data:
  = @book_keep_record.date
%p
  %b Nazwa:
  = @book_keep_record.name
%p
  %b Kategoria:
  = @book_keep_record.book_keep_category==nil ? '--' : @book_keep_record.book_keep_category.name
%p
  %b Wartość:
  = @book_keep_record.value
%p
  %b Osoba zapisująca:
  = @book_keep_record.user.email

= link_to 'Edytuj', edit_book_keep_record_path(@book_keep_record)
\|
= link_to 'Wstecz', book_keep_records_path
