%h1 Księgozbiór

= link_to 'Nowy wolumin', new_book_path
%br
%br
%ul
  %li
    = link_to "Autorzy", authors_path
  %li
    = link_to "Wydawnictwa", publishing_houses_path
%br
%br

%table#books
  %thead
    %tr
      %th Autor
      %th Tytuł
      %th Wydawnictwo
      %th Rok wydania
      %th Czy dostępna?
      %th
      %th
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= book.author==nil ? '--' : book.author.name
        %td= book.title
        %td= book.publishing_house==nil ? '--' : book.publishing_house.name
        %td= book.year
        %td= format_true_false (BookLease.where(book_id: book.id).last==nil ? true : !BookLease.where(book_id: book.id).last.active)
        %td= link_to 'Pokaż', book
        %td= link_to 'Edytuj', edit_book_path(book)
        %td= link_to 'Zniszcz', book, :method => :delete, :data => { :confirm => 'Jesteś pewien?' }