%p
  %b Autor:
  = @book.author==nil ? '--' : @book.author.name
%p
  %b Tytuł:
  = @book.title
%p
  %b Wydawnictwo:
  = @book.publishing_house==nil ? '--' : @book.publishing_house.name
%p
  %b Rok wydania:
  = @book.year

= link_to 'Edytuj', edit_book_path(@book)
\|
= link_to 'Wstecz', books_path
