%header
  %nav
    .nav-wrapper
      = link_to 'ERC', root_path, { class: "brand-logo" }
      %a.sidenav-trigger(href="#" data-target="sidenav")
        %i.material-icons menu
      %ul.right.hide-on-med-and-down
        - if current_user
          %li
            = current_user.email
          %li
            = link_to 'Members', members_path
          %li
            = link_to 'Memberships', memberships_path
          %li
            = link_to 'Periods', periods_path
          %li
            = link_to 'Roles', roles_path
          %li
            = link_to 'Log out', destroy_user_session_path, method: :delete
  %ul#sidenav.sidenav
    - if current_user
      %li
        %a.subheader
          = current_user.email
      %li
        .divider
      %li
        = link_to 'Members', members_path
      %li
        = link_to 'Periods', periods_path
      %li
        = link_to 'Log out', destroy_user_session_path, method: :delete

