<!doctype html>
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "x-ua-compatible", content: "ie=edge"}
    %title ERC
    %meta{name: "description", content: "Electronic Registration Center"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = csrf_meta_tag
    -# %link{rel: "manifest", href: "site.webmanifest"}
    %link{rel: "apple-touch-icon", href: "icon.png"}
    = stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track': true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
    = hidden_field_tag 'notice', notice
    = hidden_field_tag 'alert', alert
