= form_for @member do |f|
  - if @member.errors.any?
    #error_explanation
      %h2= "Nie można zapisać członka z powodu następujących błędów:"
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, "Imię"
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :surname, "Nazwisko"
    = f.text_field :surname, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :card_id, "Identyfikator ELS"
    = f.text_field :card_id, class: 'form-control'
  .actions
    = f.submit 'Zapisz', class: 'btn btn-default'
