= link_to 'Nowy członek', new_member_path, class: "btn btn-default pull-right"
%br

%h1 Lista członków

%table.table.table-striped#members
  %thead
    %tr
      %th Imię
      %th Nazwisko
      %th Email
      %th ELS
      %th
      %th
      %th

  %tbody
    - @members.each do |member|
      %tr
        %td= member.name
        %td= member.surname
        %td= member.email
        %td= member.card_id
        %td= link_to 'Pokaż', member, class: "btn btn-default"
        %td= link_to 'Edytuj', edit_member_path(member), class: "btn btn-default"
        %td= link_to 'Usuń', member, :method => :delete, :data => { :confirm => 'Na pewno?' }, class: "btn btn-default"

