%main
  .container
    .row
      .col.s12
        %h1 Member list

        %table.striped.responsive-table
          %thead
            %tr
              %th Imię
              %th Nazwisko
              %th Email
              %th Discord ID
              %th ELS
              %th
              %th
              %th
          %tbody
            - @members.each do |member|
              %tr
                %td= member.name
                %td= member.surname
                %td= member.email
                %td= member.discord_id
                %td= member.card_id
                %td= link_to 'View', member, class: "btn waves-effect waves-light"
                %td= link_to 'Edit', edit_member_path(member), class: "btn waves-effect waves-light"
                %td= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-light"

