%main
  .container
    .row
      .col.s12
        = render partial: 'card', locals: {member: @member}
      .col.s12
        %table.striped.responsive-table
          %thead
            %tr
              %th #
              %th Academic year
              %th Role
              %th Fee
              %th Registrar
          %tbody
            - @member.memberships.each_with_index do |membership, idx|
              %tr
                %td
                  = idx
                %td
                  = membership.period.academic_year
                %td
                  = membership.roles.join(" ")
                %td
                  = membership.fee_paid ? "Yes" : "No"
                %td
                  = membership.registrar.email

