%main
  .container
    .row
      .col.s12
        .card
          .card-content
            %span.card-title
              = @member.full_name
            = @member.email
            = @member.card_id
            = @member.discord_id
      .col.s12
        %table.striped.responsive-table
          %thead
            %tr
              %th #
              %th Academic year
              %th Role
          %tbody
            - @member.memberships.each_with_index do |membership, idx|
              %tr
                %td
                  = idx
                %td
                  = membership.period.academic_year
                %td
                  = membership.roles.join(" ")

