%p#notice= notice

%p
  %b Imię:
  = @member.name
%p
  %b Nazwisko:
  = @member.surname
%p
  %b Email:
  = @member.email
%p
  %b ELS:
  = @member.card_id

= link_to 'Edytuj', edit_member_path(@member)
\|
= link_to 'Wstecz', members_path
