%p
  %b Imię:
  = @member.name
%p
  %b Nazwisko:
  = @member.surname
%p
  %b Email:
  = @member.email
%p
  %b ELS:
  = @member.card_id
%p
  %b
    Role:
  - for role in @member.roles do
    = role.name + ' '

= link_to 'Edytuj', edit_member_path(@member), class: 'btn btn-default'
= link_to 'Wstecz', members_path, class: 'btn btn-default'
