= form_for @book_lease do |f|
  - if @book_lease.errors.any?
    #error_explanation
      %h2= "Nie można zapisać rekordu wypożyczenia książki z powodu następujących błędów:"
      %ul
        - @book_lease.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date_start
    = f.datetime_select :date_start
  .field
    = f.label :date_end
    = f.datetime_select :date_end
  .field
    = f.label :member
    = f.collection_select :member_id, Member.all, :id, :full_name, { prompt: true }, { class: 'form-control' }
  .field
    = f.label :book
    = f.collection_select :book_id, Book.all, :id, :full_name, { prompt: true }, { class: 'form-control' }
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit 'Zapisz'
