%h1 Listing book_leases

%table
  %thead
    %tr
      %th Date start
      %th Date end
      %th
      %th
      %th

  %tbody
    - @book_leases.each do |book_lease|
      %tr
        %td= book_lease.date_start
        %td= book_lease.date_end
        %td= link_to 'Show', book_lease
        %td= link_to 'Edit', edit_book_lease_path(book_lease)
        %td= link_to 'Destroy', book_lease, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book lease', new_book_lease_path
