%h1 Lista wypożyczeń

= link_to 'Nowe wypożyczenie', new_book_lease_path
%br

%table#book_leases
  %thead
    %tr
      %th Tytuł
      %th Data wypożyczenia
      %th Data zwrotu
      %th Czytelnik
      %th Czy aktywne?
      %th
      %th
      %th

  %tbody
    - @book_leases.each do |book_lease|
      %tr
        %td= book_lease.book==nil ? '--' : book_lease.book.full_name
        %td= book_lease.date_start
        %td= book_lease.date_end
        %td= book_lease.member==nil ? '--' : book_lease.member.full_name
        %td= format_true_false book_lease.active
        %td= link_to 'Pokaż', book_lease
        %td= link_to 'Edytuj', edit_book_lease_path(book_lease)
        %td= link_to 'Przyjmij zwrot', return_book_lease_path(book_lease), :method => :delete, :data => { :confirm => 'Czy jesteś pewien?' }