= form_for @publishing_house do |f|
  - if @publishing_house.errors.any?
    #error_explanation
      %h2= "Wydawnictwo nie może zostać zapisane z powodu następującyhc błędów:"
      %ul
        - @publishing_house.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, 'Nazwa'
    = f.text_field :name
  .actions
    = f.submit 'Zapisz'
