= link_to 'Nowe wydawnictwo', new_publishing_house_path, class: "btn btn-default pull-right"
%h1 Lista wydawnictw

%table#publishing_houses
  %thead
    %tr
      %th Nazwa
      %th
      %th
      %th

  %tbody
    - @publishing_houses.each do |publishing_house|
      %tr
        %td= publishing_house.name
        %td= link_to 'Pokaż', publishing_house
        %td= link_to 'Edytuj', edit_publishing_house_path(publishing_house)
        %td= link_to 'Zniszcz', publishing_house, :method => :delete, :data => { :confirm => 'Jesteś pewien?' }